* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row-flex-vertical-centered{
    align-items: center;
}

.col-flex-vertical-centered{
    justify-content: center;
}

/*=======================*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #b3b3b3;
    letter-spacing: 1.2px;
}

h3 {
    color: #fff;
    font-weight: 600;
}

h5 {
    text-transform: uppercase;
}

.flex{
    display:flex;
}



/* SEZ A - HEADER
================== */
header {
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #18181890;
    width: calc(100vw - 60px);
    height: 70px;
    z-index: 50;
    padding: 30px;
}

.header__search-bar{
    display: none;
}
.header__search-bar input{
    border: none;
    box-shadow: none;
    border-radius: 20px;


}

.header__search-bar input[type=text] {
  width: 150px;
  padding: 5px 30px;
  font-size: 16px;

}

.header__search-bar__search-icon{
    transform:translateX(30px);

}

.header__profile{
    display: flex;
    align-items: center;
}

.header__profile__user-avatar{
    width:40px;
    height:40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.header__profile i{
    margin-left: 10px;
}

.header__navigation i{
    font-size: 1.75em;
    margin: 0 10px;
}

@media screen and (min-width:768px) {
    .header__search-bar{
        display: block;
    }
    .header__profile__user-avatar{
        width: 60px;
        height: 60px;
    }
    .header__navigation i{
        font-size: 2em;
    }

    header{
        height: 100px;
    }
}

/*adattamento xxs < 420px*/
@media screen and (max-width:419px) {
    .header__navigation i{
        font-size: 1.5em;
    }
    .header__profile__user-avatar{
        width: 40px;
        height: 40px;
    }
    header{
        padding:15px;
    }

}


/* SEZ B - ASIDE
================= */
aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #121212;
    width: 60px;
    height: calc(100vh - 90px);
}

.aside__menu-fixed--logo-large, .aside__menu-fixed--naviga, .aside__menu-fixed--radio, .aside__menu-fixed--home span {
    display: none;
}

.aside__menu-fixed {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none:
}

.aside__menu-fixed ul {
    width: 100%;
}

.aside__menu-fixed li {
    list-style-type: none;
    width: 100%;
    text-align: center;
}

.aside__menu-fixed i {
    font-size: 22px;
    color: #b3b3b3;
}

.aside__menu-fixed a {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}

.aside__menu-fixed--logo-small {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
}

.aside__menu-fixed--logo-small i {
    color: #fff;
    font-size: 34px;
}

.aside__menu-fixed--home {
    border-left: 2px solid #1AD860;
}

.aside__menu-fixed--home i {
    color: #fff;
}

/* aside menu scroll
=============*/
.aside__menu-scroll {
    display: none;
    overflow-y: auto;
}

/* current play cover
=============*/
.aside__current-play-cover {
    display: none;
}

/* MEDIA QUERIES - ASIDE
======================== */
@media screen and (max-width:419px) {

    /*logo xxs*/
    .aside__menu-fixed--logo-small i {
        font-size: 26px;

    }


}

@media screen and (min-width: 768px) {

    .aside__menu-fixed{

        padding-bottom: 30px;
    }
    .aside__menu-fixed--logo-small {
        display: none;
        height: 100px;
    }

    .aside__menu-fixed--logo-large {
        display: block;
        height: 100px;
        display: flex;
        align-items: center;
    }

    .aside__menu-fixed--logo-large img {
        width: 100%;
        padding: 60px 40px;
    }

    .aside__menu-fixed--cerca, .aside__menu-fixed--libreria {
        display: none;
    }

    .aside__menu-fixed--home span {
        display: flex;
    }

    .aside__menu-fixed--naviga, .aside__menu-fixed--radio, .aside__menu-fixed--home, .aside__menu-fixed--naviga>a, .aside__menu-fixed--radio>a, .aside__menu-fixed--home>a {
        display: flex;
        align-items: center;
    }

    .aside__menu-fixed a {
        text-align: left;
        padding-left: 20px;
        text-decoration: none;
        color: #b3b3b3;
    }

    .aside__menu-fixed--home a {
        color: #fff;
        padding-left: 18px;
    }

    .aside__menu-fixed i {
        padding-right: 20px;
    }

    .aside__menu-fixed--home i {
        padding-right: 18px;
    }

    .aside__menu-fixed--radio i {
        padding-right: 16px;
    }

    .aside__menu-fixed--naviga i{
        padding-right: 18px;
    }

    .aside__menu-fixed--naviga a{
        padding-left: 22px;

    }

    .aside__menu-fixed a:hover {
        background-color: #282828;
    }

    /*menu-scroll*/

    .aside__menu-scroll{
        display: block;
    }

    .aside__menu-scroll li{
        list-style: none;
    }
    .aside__menu-scroll a{
        display: block;
        padding-left:20px;
        line-height: 1.75em;
        text-decoration: none;
        color:#b3b3b3;
        font-weight: 400;
    }

    .aside__menu-scroll a:hover{
        font-weight: 700;
        color: #fff;
    }

    .aside__menu-scroll h5{
        padding: 30px 20px 10px;
        font-weight: 300;
    }

    .aside__menu-scroll ul:last-child{
        margin-bottom: 30px;
    }
    /*cover album*/

    .aside__current-play-cover{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width:100%;
        position: relative;
        top:3px;

    }

    .aside__current-play-cover img{
        width: 100%;
    }

    .aside__current-play-cover__new-playlist a{
        font-size: 14px;
        background-color: #282828;
        color: #b3b3b3;
        text-decoration: none;
        display: inline-block;
        width:100%;
        padding: 7px 20px;

    }
    .aside__current-play-cover__new-playlist a:hover{
        color: #fff;
    }





}

/* SEZ C - MAIN
================ */
main {
    display: flex;
    flex-direction: column;
    /* background-color: #181818; */
    background-color: #0e2047;
    width: calc(100vw - 60px);
    height: calc(100vh - 90px);
    position: absolute;
    top: 0;
    right: 0;
    overflow-y: auto;
}

/* SEZ D - CONTROL BAR
======================= */
#control-bar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #282828;
    width: 100vw;
    height: 90px;
}


.control-bar__main-controls{
    flex-direction: column;
    flex-basis: 50%;
    align-items: center;
    max-width: 600px;


}
.control-bar__main-controls__top{

    justify-content: space-between;
    width: 100%;
    border: 1px solid red;
}

.control-bar__main-controls__top i{
    font-size: 16px;
}

.control-bar__main-controls__top i.ms--play{
    font-size: 40px;
}

.control-bar__main-controls__bottom{
align-items: center;
width: 180%;
}

.time-bar{
    border: 1px solid #b3b3b3;
    width:90%;
    height:0;
    margin: 10px;
}

/*media queries - control bar*/
@media screen and (min-width:768px) {
    .control-bar__main-controls{
        flex-basis: 60%;

    }
    .control-bar__main-controls__top{
    width: 60%;
    }
    .control-bar__main-controls__bottom{
    width: 100%;

}

/* MEDIA QUERIES - GENERALI
=========================== */

/* versione xxs < 420px*/
@media screen and (max-width:419px) {
    /*aside xxs*/
    aside{
        width: 55px;
    }
    header {
        width: calc(100vw - 55px);
    }

    main {
        width: calc(100vw - 55px);
    }

}
/* versione small (tablet) */
@media screen and (min-width: 768px) {
    aside {
        width: 230px;
    }

    header {
        width: calc(100vw - 230px);
    }

    main {
        width: calc(100vw - 230px);
    }
}

/* versione medium (desktop) */
@media screen and (min-width: 992px) {

}

/* stassu */
