* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row-flex-vertical-centered {
    align-items: center;
}

.col-flex-vertical-centered {
    justify-content: center;
}

/* SCROLLBAR */
.aside__menu-scroll::-webkit-scrollbar, main::-webkit-scrollbar {
    /*chrome - safari*/
    display: none;
}

* {
    /*firefox*/
    scrollbar-width: thin;
    scrollbar-color: #282828 #121212;
}

/*=======================*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #b3b3b3;
    letter-spacing: 1.2px;
}

h3 {
    color: #fff;
    font-weight: 600;
}

h5 {
    text-transform: uppercase;
}

.flex {
    display: flex;
}

/* SEZ A - HEADER
================== */
header {
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(18, 18, 18, 0.98);
    width: calc(100vw - 60px);
    height: 70px;
    z-index: 50;
    padding: 30px;
    backdrop-filter: blur(2px);
    /*solo su chrome e safari*/
}

.header__navigation i:hover {
    color: #fff;
}

.header__search-bar {
    display: none;
}

.header__search-bar input {
    border: none;
    box-shadow: none;
    border-radius: 20px;
}

.header__search-bar input[type=text] {
    width: 150px;
    padding: 5px 30px;
    font-size: 16px;
}

.header__search-bar__search-icon {
    transform: translateX(30px);
}

.header__profile {
    display: flex;
    align-items: center;
}

.header__profile__user-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.header__profile i {
    margin-left: 10px;
}

.header__navigation i {
    font-size: 1.75em;
    margin: 0 2px;
    padding: 10px;
}

@media screen and (min-width:768px) {
    .header__search-bar {
        display: block;
    }

    .header__profile__user-avatar {
        width: 60px;
        height: 60px;
    }

    .header__navigation i {
        font-size: 2em;
    }

    header {
        height: 100px;
    }
}

/*adattamento xxs < 420px*/
@media screen and (max-width:419px) {
    .header__navigation i {
        font-size: 1.5em;
    }

    .header__profile__user-avatar {
        width: 40px;
        height: 40px;
    }

    header {
        padding: 15px;
    }
}

/* SEZ B - ASIDE
================= */
aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #121212;
    width: 60px;
    height: calc(100vh - 90px);
}

.aside__menu-fixed--logo-large, .aside__menu-fixed--naviga, .aside__menu-fixed--radio, .aside__menu-fixed--home span {
    display: none;
}

.aside__menu-fixed {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none:
}

.aside__menu-fixed ul {
    width: 100%;
}

.aside__menu-fixed li {
    list-style-type: none;
    width: 100%;
    text-align: center;
}

.aside__menu-fixed i {
    font-size: 22px;
    color: #b3b3b3;
}

.aside__menu-fixed a {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}

.aside__menu-fixed--logo-small {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
}

.aside__menu-fixed--logo-small i {
    color: #fff;
    font-size: 34px;
}

.aside__menu-fixed--home {
    border-left: 2px solid #1AD860;
}

.aside__menu-fixed--home i {
    color: #fff;
}

/* aside menu scroll
=============*/
.aside__menu-scroll {
    display: none;
    overflow-y: auto;
}

/* current play cover
=============*/
.aside__current-play-cover {
    display: none;
}

/* MEDIA QUERIES - ASIDE
======================== */
@media screen and (max-width:419px) {

    /*logo xxs*/
    .aside__menu-fixed--logo-small i {
        font-size: 26px;
    }
}

@media screen and (min-width: 768px) {
    .aside__menu-fixed {
        padding-bottom: 30px;
    }

    .aside__menu-fixed--logo-small {
        display: none;
        height: 100px;
    }

    .aside__menu-fixed--logo-large {
        display: block;
        height: 100px;
        display: flex;
        align-items: center;
    }

    .aside__menu-fixed--logo-large img {
        width: 100%;
        padding: 60px 40px;
    }

    .aside__menu-fixed--cerca, .aside__menu-fixed--libreria {
        display: none;
    }

    .aside__menu-fixed--home span {
        display: flex;
    }

    .aside__menu-fixed--naviga, .aside__menu-fixed--radio, .aside__menu-fixed--home, .aside__menu-fixed--naviga>a, .aside__menu-fixed--radio>a, .aside__menu-fixed--home>a {
        display: flex;
        align-items: center;
    }

    .aside__menu-fixed a {
        text-align: left;
        padding-left: 20px;
        text-decoration: none;
        color: #b3b3b3;
    }

    .aside__menu-fixed--home a {
        color: #fff;
        padding-left: 18px;
    }

    .aside__menu-fixed i {
        padding-right: 20px;
    }

    .aside__menu-fixed--home i {
        padding-right: 18px;
    }

    .aside__menu-fixed--radio i {
        padding-right: 16px;
    }

    .aside__menu-fixed--naviga i {
        padding-right: 18px;
    }

    .aside__menu-fixed--naviga a {
        padding-left: 22px;
    }

    .aside__menu-fixed a:hover {
        background-color: #282828;
    }

    /*menu-scroll*/
    .aside__menu-scroll {
        display: block;
    }

    .aside__menu-scroll li {
        list-style: none;
    }

    .aside__menu-scroll a {
        display: block;
        padding-left: 20px;
        line-height: 1.75em;
        text-decoration: none;
        color: #b3b3b3;
        font-weight: 400;
    }

    .aside__menu-scroll a:hover {
        font-weight: 700;
        color: #fff;
    }

    .aside__menu-scroll h5 {
        padding: 30px 20px 10px;
        font-weight: 300;
    }

    .aside__menu-scroll ul:last-child {
        margin-bottom: 30px;
    }

    /*cover album*/
    .aside__current-play-cover {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        position: relative;
        top: 3px;
    }

    .aside__current-play-cover img {
        width: 100%;
    }

    .aside__current-play-cover__new-playlist a {
        font-size: 14px;
        background-color: #282828;
        color: #b3b3b3;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        padding: 7px 20px;
    }

    .aside__current-play-cover__new-playlist a:hover {
        color: #fff;
    }
}

/* SEZ C - MAIN
================ */
main {
    display: flex;
    flex-direction: column;
    background-color: #181818;
    width: calc(100vw - 60px);
    height: calc(100vh - 70px);
    position: absolute;
    right: 0;
    top: 0;
    overflow-y: auto;
    padding-top: 70px;
}

nav.main__nav {
    width: 100%;
    padding: 20px 0;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    flex-wrap: wrap;
}

.main__nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
}

.main__nav ul li a {
    display: inline-block;
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    margin: 10px 15px;
}

.main__nav ul li a:hover {
    color: #fff;
}

.main__section:last-child {
    padding-bottom: 100px;
}

/*sections*/
.section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.main__section {
    padding: 20px 10px;
}

.main__section h2 {
    margin-bottom: 10px;
    margin-left: 14px;
}

/*cards*/
.card__content {
    padding: 15px;
    border-radius: 20px;
    min-height: 230px;
    transition: 0.2s ease;
}

.card {
    width: 140px;
    border-radius: 20px;
    margin-right: 10px;
}

.card__content:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.card img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 14px;
}

.card span {
    font-size: 12px;
}

/*media queries - Main*/
@media screen and (max-width:450px) {
    .main__nav ul {
        flex-basis: 95%;
    }

    .main__nav ul li a {
        font-size: 0.9em;
        margin: 5px 10px
    }
}

@media screen and (min-width:670px) {
    nav.main__nav ul {
        flex-basis: 80%;
    }
}

@media screen and (min-width:768px) {
    nav.main__nav ul {
        flex-basis: 90%;
    }
}

@media screen and (min-width:950px) {
    nav.main__nav ul {
        flex-basis: 60%;
        max-width: 1460px;
    }
}

@media screen and (min-width:1100px) {
    nav.main__nav ul {
        flex-basis: 100%;
        max-width: 1460px;
    }
}

/* media queries cards */
@media screen and (max-width:374px) {
    .card {
        width: 110px;
        margin-bottom: 10px;
    }

    .card__content {
        min-height: 120px;
    }

    .section-content {
        justify-content: space-around;
    }

    .section-content span {
        display: none;
    }

    .section-content span.author {
        display: inline-block;
    }

    .section-content h3 {
        font-size: 12px;
    }

    .main__section h2 {
        text-align: center;
        margin-left: 0;
    }
}

@media screen and (min-width:375px) and (max-width:420px) {
    .card {
        width: 140px;
        margin-bottom: 10px;
    }

    .section-content {
        justify-content: space-around;
    }

    .main__section h2 {
        text-align: center;
        margin-left: 0;
    }
}

@media screen and (min-width:421px) and (max-width:520px) {
    .card {
        width: 160px;
        margin-bottom: 10px;
    }

    .section-content {
        justify-content: space-around;
    }

    .main__section h2 {
        text-align: center;
        margin-left: 0;
    }
}

@media screen and (min-width:769px) {
    .card {
        width: 180px;
        margin-bottom: 10px;
    }
}

/* SEZ D - CONTROL BAR
======================= */
#control-bar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #282828;
    width: 100vw;
    height: 80px;
}

#control-bar i {
    transition: all 0.2s ease;
}

#control-bar i:hover {
    color: #fff;
    transform: scale(1.2);
}

.control-bar__main-controls {
    flex-direction: column;
    flex-basis: 50%;
    align-items: center;
    max-width: 600px;
}

.control-bar__main-controls__top {
    justify-content: space-between;
    width: 100%;
}

.control-bar__main-controls__top i {
    font-size: 16px;
}

.control-bar__main-controls__top i.ms--play {
    font-size: 40px;
}

.control-bar__main-controls__bottom {
    align-items: center;
    width: 180%;
}

.time-bar {
    border: 1px solid #b3b3b3;
    width: 90%;
    height: 0;
    margin: 10px;
}

.control-bar__other-controls, .control-bar__current-play-info {
    flex-basis: 25%;
}

.ms--favourite {
    margin-left: 20px;
}

.time-bar::before {
    content: "";
    display: table;
    clear: both;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    bottom: 6px;
    left: 25%;
    z-index: 2;
}

.time-bar-color {
    position: relative;
    left: -1px;
    bottom: 14px;
    height: 4px;
    width: 26%;
    background-color: #fff;
}

/*info-bar-mobile*/
.info-bar-mobile {
    height: 60px;
    width: 100vw;
    position: fixed;
    bottom: 80px;
    color: #fff;
    background-color: rgba(31, 185, 84, 0.98);
}

.mini-cover {
    width: 60px;
    object-fit: cover;
}

.info-bar-mobile-text {
    flex-direction: column;
    margin-left: 10px;
}

.info-bar-mobile__cover {
    align-self: baseline;
}

.control-bar__current-play-info, .control-bar__other-controls {
    display: none;
}

#control-bar {
    justify-content: center;
}

.info-bar-mobile__love {
    flex-basis: 20vw;
    justify-content: space-evenly;
    position: absolute;
    right: 20px;
    font-size: 18px;
}

.info-bar-mobile__love i {
    margin-left: 20px;
}

.green-bar {
    justify-content: space-around;
}

/*media queries - control bar*/
@media screen and (min-width:768px) {
    .control-bar__current-play-info, .control-bar__other-controls {
        display: flex;
    }

    .control-bar__main-controls {
        flex-basis: 50%;
        margin: 0 auto;
    }

    .control-bar__main-controls__top {
        width: 60%;
    }

    .control-bar__main-controls__bottom {
        width: 100%;
    }

    .info-bar-mobile {
        display: none;
    }

    #control-bar {
        height: 90px;
    }

    .control-bar__current-play-info, .control-bar__other-controls {
        padding: 5px 20px;
        max-width: 300px;
    }

    .control-bar__current-play-info {
        flex-direction: row;
        justify-content: flex-start;
    }

    .control-bar__current-play-info__title {
        font-size: 1.2em;
        font-weight: 600;
        color: #fff;
    }

    .info-text {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .info-love {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 5px;
        font-size: 18px;
    }

    .control-bar__other-controls {
        justify-content: space-around;
        font-size: 18px;
    }
}

/* MEDIA QUERIES - GENERALI
=========================== */
/* versione xxs < 420px*/
@media screen and (max-width:419px) {

    /*aside xxs*/
    aside {
        width: 55px;
    }

    header {
        width: calc(100vw - 55px);
    }

    main {
        width: calc(100vw - 55px);
    }

    .mini-cover {
        width: 55px;
    }

    .info-bar-mobile {
        height: 55px;
    }

    .control-bar__main-controls__top {
        width: 120%;
    }
}

/* versione small (tablet) */
@media screen and (min-width: 768px) {
    aside {
        width: 230px;
    }

    header {
        width: calc(100vw - 230px);
    }

    main {
        width: calc(100vw - 230px);
        height: calc(100vh - 90px);
        padding-top: 100px;
    }
}

/* versione medium (desktop) */
@media screen and (min-width: 992px) {}

/* stassu */
